/*
#middle-box:hover {
	background-color: #434356;
}

#middle-box:fullscreen {
	height: 500px;
	width: 800px;
	background-image: url("http://img11.deviantart.net/2420/i/2010/023/a/2/ren_and_stimpy_by_buttercupnergal.png");
}
*/

